# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*.swp
coverage.out
coverage.tmp
examples/00-create-socket/00-create-socket
examples/01-update-socket/01-update-socket
examples/02-list-sockets/02-list-sockets
examples/03-delete-socket/03-delete-socket
examples/04-reverse-proxy/04-reverse-proxy
examples/05-echo-listener/05-echo-listener
examples/05-fiber-listener/05-fiber-listener
examples/05-gin-listener/05-gin-listener
examples/05-http-listener/05-http-listener
examples/06-create-connector-and-socket/06-create-connector-and-socket
examples/07-delete-connector-and-socket/07-delete-connector-and-socket
