# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*.swp
coverage.out
coverage.tmp
examples/00-create-socket/00-create-socket
examples/01-update-socket/01-update-socket
examples/02-list-sockets/02-list-sockets
examples/03-delete-socket/03-delete-socket
examples/04-reverse-proxy/04-reverse-proxy
examples/05-load-balancer/05-load-balancer
examples/06-echo-listener/06-echo-listener
examples/06-fiber-listener/06-fiber-listener
examples/06-gin-listener/06-gin-listener
examples/06-http-listener/06-http-listener
examples/07-create-connector-and-socket/07-create-connector-and-socket
examples/08-delete-connector-and-socket/08-delete-connector-and-socket
